{% extends "base.html" %}
{% block content %}

    {% for article in articles_page.object_list %}
        <article>
            <header>
                {% if article.category %}
                    <small class="label">{{ article.category }}</small>
                {% endif %}
                <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a></h1>
                {% if article.subtitle %}
                    <p class="subtitle">{{ article.subtitle }}</p>
                {% endif %}
                <ul class="details">
                    <li><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></li>
                    {% if article.authors | length > 1 or article.authors | first != AUTHOR %}
                        <li> By 
                            {% for author in article.authors %}
                                <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{{ " and " if loop.revindex == 2 else ", " if not loop.last else "" }}
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </header>
            {{ article.summary }}
        </article>
    {% endfor %}

    {% if articles_page.has_other_pages() %}
        {% include 'pagination.html' %}
    {% endif %}

{% endblock content %}
