<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
            Hosted on <a href="https://pages.gitlab.io/" target="_blank">GitLab Pages</a> - Powered by <a href="http://hexo.io/" target="_blank">Hexo</a> - Theme by <a href="http://github.com/ppoffice" target="_blank">PPOffice</a>
        </div>
    </div>
</footer>