<aside id="sidebar">
   <% if (theme.customize.profile.enabled) { %>
       <%- partial('common/profile', null, {cache: !config.relative_link}) %>
   <% } %>

   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop" class="fa fa-angle-up"></div>
</aside>