/* General layout */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 260px;
}

body > #background {
    padding: .6rem .6rem 2rem;
    background: #f2f2f2;
    color: #171717;
}

    @media (max-width: 700px) {
        body > #background {
            padding: .6rem 0 2rem;
        }
    }

    body > #background > #container {
        max-width: 1020px;
        margin: auto;
    }

/* General styles */
a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Header */
#main-header {
    padding: 2rem 0 2rem;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
}

    @media (max-width: 700px) {
        #main-header {
            padding: 1rem .6rem 1rem;

            /* clearfix */
            content: "";
            display: table;
            clear: both;
        }
    }

#title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2.5rem;
    white-space: nowrap;
    float: left;
}

    #title a {
        color: #171717;
    }

#menu-toggle {
    float: right;
    display: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    line-height: 0;
}

    #menu-toggle img {
        height: 2rem;
        width: 2rem;
        margin: 0;
        padding: 0;
    }

    @media (max-width: 700px) {
        #menu-toggle {
            display: inline-block;
            vertical-align: center;
        }
    }

#main-nav {
    font-size: 1rem;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

    #main-nav a {
        color: #505050;
    }

    #main-nav span {
        margin-right: 1.5rem;
        font-weight: 400;
    }

    @media (max-width: 700px) {
        #main-nav {
            display: none;
            clear: both;
            flex-flow: column nowrap;
            align-items: flex-end;
            padding-top: 1rem;
        }

        #main-nav.opened {
            display: flex;
        }

            #main-nav span {
                margin-right: 0;
                font-size: 1.25rem;
                margin-bottom: .6rem;
            }
    }

/* Footer */
body > footer {
    color: #565656;
    font-size: .85rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0.8rem;
}

    body > footer a {
        color: #565656;
        text-decoration: underline;
    }

/* Post view */
.post {
    background-color: #fff;
    padding: 2.4rem 1rem;
    margin: 1rem 0;
    overflow-wrap: break-word;
}

    @media (max-width: 700px) {
        .post {
            padding: 1rem;
        }
    }

    .post > article {
        max-width: 680px;
        margin: auto;
    }

    .post a {
        color: #0078d4;
    }

    .post h1 {
        margin-top: 0;
        margin-bottom: .2rem;
        font-size: 1.8rem;
    }

        .post h1 a {
            color: #171717;
        }
    
    .post h1, .post h2, .post h3, .post h4 {
        font-weight: 600;
        line-height: 1.2;
    }
    
    .post h2, .post h3, .post h4, .post h5, .post h6 {
        margin-bottom: 0;
    }

    .post h2 + p, .post h3 + p, .post h4 + p, .post h5 + p, .post h6 + p {
        margin-top: .1rem;
    }

    .post .post-details {
        font-size: .9rem;
    }

    .post p {
        margin-bottom: 0;
    }

    .post img, .post .twitter-tweet {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .post figure {
        margin-left: 0;
        margin-right: 0;
    }

        .post figure figcaption {
            text-align: center;
            font-size: .85rem;
            color: #505050;
            margin-top: .6em;
        }

    .post pre {
        overflow: auto;
    }

        .post pre > code.wrap {
            white-space: pre-wrap;
            overflow-wrap: break-word;
        }

    .post blockquote {
        padding-left: 1rem;
        border-left: 4px solid #505050;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

        .post blockquote.twitter-tweet {
            background-image: url("/ionicons/logo-twitter.svg");
            background-repeat: no-repeat;
            background-position: top 0.5rem right 0.5rem;
            background-size: 1.25rem 1.25rem;
            padding: 1rem 2rem 1rem 1rem;
            border: 1px solid #e1e8ed;
            border-radius: 5px;
        }

            .post blockquote.twitter-tweet > p {
                margin: 0;
            }

/* Post overviews */
.overview-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

ul.post-overview {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.post-overview > li.post {
        padding: 1rem;
    }

        ul.post-overview > li.post article {
            display: flex;
            flex-direction: column;
        }

        ul.post-overview > li.post a.image-link {
            align-self: center;
            padding: 0;
            margin-bottom: .8rem;
        }
        
        ul.post-overview > li.post img {
            max-height: 80vh;
            margin-bottom: 1rem;
        }

        ul.post-overview > li.year-header {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 1.4rem;
            margin-bottom: -.6rem;
        }

            @media (max-width: 700px) {
                ul.post-overview > li.year-header {
                    margin-left: .6rem;
                }
            }

.pagination {
    width: 100%;
    font-size: 1.1rem;

    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

    .pagination > a {
        color: #171717;
        display: flex;
        align-items: center;
    }
    
        .pagination > a > img {
            height: 1.3em;
            display: inline-block;
            transition: all 250ms ease-in-out 0s;
        }

        .pagination > a.newer {
            float: left;
            margin-left: .6rem;
        }
        
            .pagination > a.newer > img {
                margin-right: .4rem;
            }

            .pagination > a.newer:hover > img {
                margin-right: .7rem;
                margin-left: -.3rem;
            }

        .pagination > a.older {
            float: right;
            margin-right: .6rem;
        }

            .pagination > a.older > img {
                margin-left: .4rem;
            }

            .pagination > a.older:hover > img {
                margin-left: .7rem;
                margin-right: -.3rem;
            }
