body {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body > #content {
    padding: .6rem .6rem 2rem .6rem;
    background: #f2f2f2;
    color: #171717;
}

ul.post-overview {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.post-overview > li.post {
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.06), 0px 0.5px 1px rgba(0,0,0,0.05);
        padding: 1rem;
        margin: 1rem 0;
    }

        ul.post-overview > li.post a {
            text-decoration: none;
            color: #0078d4;
        }

            ul.post-overview > li.post a:hover {
                text-decoration: underline;
            }

        ul.post-overview > li.post img {
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: .8rem;
        }

        ul.post-overview > li.post h1 {
            margin-top: 0;
            margin-bottom: .2rem;
            font-weight: 600;
            font-size: 1.8rem;
        }

        ul.post-overview > li.post .post-details {
            font-size: .9rem;
        }

        ul.post-overview > li.post p {
            margin-bottom: 0;
        }

    ul.post-overview > li.year-header {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 1.4rem;
        margin-bottom: -.6rem;
    }

.pagination {
    width: 100%;
    height: 1.3rem;
    font-size: 1.1rem;
}
    .pagination > a {
        color: #171717;
        text-decoration: none;
    }

    .pagination > a.newer {
        float: left;
    }

    .pagination > a.older {
        float: right;
    }

body > footer {
    color: #565656;
    font-size: .85rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0.8rem;
}

    body > footer a {
        color: #565656;
    }