/* General layout */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 260px;
}

body > #background {
    padding: .6rem .6rem 2rem;
    background: #f2f2f2;
    color: #171717;
    min-height: calc(100vh - 2.6rem - 1.6rem - 1.4 * 2 * 0.85rem); /* Put the footer at the bottom if there's not enough content. */
}

    @media (max-width: 700px) {
        body > #background {
            padding: .6rem 0 2rem;
        }
    }

    body > #background > #container {
        max-width: 1020px;
        margin: auto;
    }

/* General styles */
a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

@media (max-width: 700px) {
    .titeled-container > h1 {
        margin-left: .6rem;
        margin-right: .6rem;
    }
}

/* Header */
#main-header {
    padding: 2rem 0 2rem;
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
}

    @media (max-width: 700px) {
        #main-header {
            padding: 1rem .6rem 1rem;

            /* clearfix */
            content: "";
            display: table;
            clear: both;
        }
    }

#title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 2.5rem;
    white-space: nowrap;
    float: left;
}

    #title a {
        color: #171717;
    }

#menu-toggle {
    float: right;
    display: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

    #menu-toggle .icon {
        height: 2rem;
        width: 2rem;
        margin: 0;
        padding: 0;
        fill: #171717;
    }

    @media (max-width: 700px) {
        #menu-toggle {
            display: inline-block;
            vertical-align: center;
        }
    }

#main-nav {
    font-size: 1rem;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

    #main-nav a {
        color: #505050;
    }

    #main-nav span {
        margin-right: 1.5rem;
        font-weight: 400;
    }

    @media (max-width: 700px) {
        #main-nav {
            display: none;
            clear: both;
            flex-flow: column nowrap;
            align-items: flex-end;
            padding-top: 1rem;
        }

        #main-nav.opened {
            display: flex;
        }

            #main-nav span {
                margin-right: 0;
                font-size: 1.25rem;
                margin-bottom: .6rem;
            }
    }

/* Profile */
img.profile-pic {
    border-radius: 50%;
}

.profile {
    /* background-color: #fafafa; */
    max-width: 280px;
    margin-left: 20px;
    color: #171717;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

    @media (max-width: 700px) {
        .profile {
            order: -1;
            align-self: center;
            margin-left: .6rem;
            margin-right: .6rem;
        }
    }

    .profile img.profile-pic {
        margin: 1rem;
        width: 65%;
    }

        @media (max-width: 700px) {
            .profile img.profile-pic {
                width: 30%;
            }
        }

    .profile .name {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .profile .motto {
        margin-top: .4rem;
        text-align: center;
    }

    .profile a.expand-social-links {
        display: none;
        color: #0078d4;
        margin-top: .4rem;
        cursor: pointer;
    }

        @media (max-width: 700px) {
            .profile a.expand-social-links {
                display: initial;
            }
        }

    .profile ul.social-links {
        margin: 1.6em .6em .6em;
        font-size: 1.1rem;
        width: 65%;
        align-self: flex-start;
    }

        @media (max-width: 700px) {
            .profile ul.social-links {
                display: none;
                align-self: auto;
            }

                .profile ul.social-links.opened {
                    display: initial;
                }
        }

        .profile ul.social-links > li a {
            color: #505050;
        }

        .profile ul.social-links > li .icon {
            height: 1.6em;
            width: 1.6em;
            margin-right: .8em;
            fill: #171717;
        }

/* Links with icons */
ul.links-list {
    margin-left: .6rem;
    list-style-type: none;
    padding: 0;
}

    ul.links-list > li {
        margin: 0 0 1em;
    }

        ul.links-list > li a {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-start;
        }

        ul.links-list > li .icon {
            height: 1.2em;
            width: 1.2em;
            margin-right: .6em;
        }

/* Column layout */
.columns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

    @media (max-width: 700px) {
        .columns {
            flex-flow: column nowrap;
            align-items: stretch;
        }
    }

/* Footer */
body > footer {
    color: #565656;
    font-size: .75rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0.8rem;
}

    body > footer > span {
        margin: .2em .6em;
    }

    body > footer a {
        color: #565656;
    }

/* Page */
.page.text {
    max-width: 720px;
    padding: 1rem;
}

    .page.text > p:first-child {
        margin-top: 0;
    }

/* Post view */
.post-container {
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

    .post-container > .blurb {
        font-style: italic;
        font-size: 1.1rem;
        max-width: 680px;
        margin: 0 auto;
    }

    .post-container > h1 {
        margin-bottom: .4rem;
    }

    .post-container > .post-details {
        display: block;
        margin-bottom: 1.33rem;
    }

    @media (max-width: 700px) {
        .post-container > .post-details, .post-container > .blurb {
            margin-left: .6rem;
            margin-right: .6rem;
        }
    }

.post-details {
    font-size: .9rem;
}

.text {
    background-color: #fff;
    padding: 2.4rem 1rem;
    margin: 1rem 0;
    overflow-wrap: break-word;
    word-break: break-word;
    text-align: left;
}

    @media (max-width: 700px) {
        .post {
            padding: 1rem;
        }
    }

    .text > article {
        max-width: 680px;
        margin: auto;
    }

    .text a {
        color: #0078d4;
    }

    .text h1 {
        margin-top: 0;
        margin-bottom: .2rem;
        /* font-size: 1.8rem; */
    }

        .text h1 a {
            color: #171717;
        }
    
    .text h1, .text h2, .text h3, .text h4 {
        font-weight: 600;
        line-height: 1.2;
    }
    
    .text h2, .text h3, .text h4, .text h5, .text h6 {
        margin-bottom: 0;
    }

    .text h2 + p, .text h3 + p, .text h4 + p, .text h5 + p, .text h6 + p {
        margin-top: .1rem;
    }

    .text p {
        margin-bottom: 0;
    }

    .text img, .text .twitter-tweet {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .text figure {
        margin-left: 0;
        margin-right: 0;
    }

        .text figure figcaption {
            text-align: center;
            font-size: .85rem;
            color: #505050;
            margin-top: .6em;
        }

    .text pre {
        overflow: auto;
    }

        .text pre > code.wrap {
            white-space: pre-wrap;
            overflow-wrap: break-word;
            word-break: break-word;
        }

    .text blockquote {
        padding-left: 1rem;
        border-left: 4px solid #505050;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

        .text blockquote.twitter-tweet {
            background-image: url("/icons/logo-twitter.svg");
            background-repeat: no-repeat;
            background-position: top 0.5rem right 0.5rem;
            background-size: 1.25rem 1.25rem;
            padding: 1rem 2rem 1rem 1rem;
            border: 1px solid #e1e8ed;
            border-radius: 5px;
        }

            .text blockquote.twitter-tweet > p {
                margin: 0;
            }

/* Share pane */
.sharebox {
    font-size: 1.1rem;
    margin: 2rem 0 1rem;
}

    .sharebox .links {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }

        .sharebox .links a {
            margin: .4em;
        }

        .sharebox .links .icon {
            height: 1.6em;
            width: 1.6em;
            fill: #171717;
        }

/* Read also */
.readalsobox {
    margin: 1.2rem 0;
}

    .readalsobox > span {
        font-size: 1.1rem;
    }

    .readalsobox ul.post-overview {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        margin-top: .6rem;
    }

        @media (max-width: 700px) {
            .readalsobox ul.post-overview {
                flex-flow: column nowrap;
                align-items: center;
            }
        }

        .readalsobox ul.post-overview > li.post {
            margin: .6rem;
            max-width: 550px;
            min-width: 0;
        }

            @media (min-width: 700px) {
                .readalsobox ul.post-overview > li.post:first-of-type {
                    margin-left: 0;
                }

                .readalsobox ul.post-overview > li.post:last-of-type {
                    margin-right: 0;
                }
            }
        
            .readalsobox ul.post-overview > li.post h1 {
                font-size: 1.6rem;
                word-wrap: break-word;
            }

/* Comments */
.commentsbox {
    background-color: #fff;
    padding: 2.4rem .6rem;
    margin: .6rem 0;
}

    .commentsbox #disqus_thread {
        max-width: 680px;
        margin: auto;
    }

/* Post overviews */
.overview-container {
    width: 100%;
    max-width: 720px;
}

ul.post-overview {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul.post-overview > li.post {
        padding: 1rem;
    }

        ul.post-overview > li.post article {
            display: flex;
            flex-direction: column;
        }

        ul.post-overview > li.post a.image-link {
            align-self: center;
            padding: 0;
            margin-bottom: .8rem;
        }
        
        ul.post-overview > li.post img {
            max-height: 80vh;
            margin-bottom: 1rem;
        }

        ul.post-overview > li.year-header {
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 1.4rem;
            margin-bottom: -.6rem;
        }

            @media (max-width: 700px) {
                ul.post-overview > li.year-header {
                    margin-left: .6rem;
                }
            }

.pagination {
    width: 100%;
    font-size: 1.1rem;

    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

    .pagination > a {
        color: #171717;
        display: flex;
        align-items: center;
    }
    
        .pagination > a > .icon {
            height: 1.3em;
            width: 1.3em;
            display: inline-block;
            transition: all 250ms ease-in-out 0s;
            fill: #171717;
        }

        .pagination > a.newer {
            float: left;
            margin-left: .6rem;
        }
        
            .pagination > a.newer > .icon {
                margin-right: .4rem;
            }

            .pagination > a.newer:hover > .icon {
                margin-right: .7rem;
                margin-left: -.3rem;
            }

        .pagination > a.older {
            float: right;
            margin-right: .6rem;
        }

            .pagination > a.older > .icon {
                margin-left: .4rem;
            }

            .pagination > a.older:hover > .icon {
                margin-left: .7rem;
                margin-right: -.3rem;
            }

/* Tags */
ul.tag-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

    @media (max-width: 700px) {
        ul.tag-list {
            margin: 0 .6rem;
        }
    }

    ul.tag-list > li {
        background-color: #fff;
        padding: .6rem;
        margin: 0 .6rem .6rem 0;
    }

        ul.tag-list > li a {
            color: #000;
        }

        ul.tag-list > li .page-count {
            float: right;
            margin-left: .5em;
        }

.columns ul.tag-list {
    flex-flow: column nowrap;
}

/* Project */
.project-header {
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    min-height: 80vh;
    padding: .6rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

    .project-header .tagline {
        font-style: italic;
    }

    .project-header .icon {
        fill: #fff;
    }

    .project-header > .left {
        width: 50%;
        align-self: center;
    }

    .project-header > .right {
        width: 50%;
        padding: .6rem;
    }

    .project-header img.header-image {
        width: 100%;
    }

    @media (max-width: 700px) {
        .project-header {
            flex-flow: column nowrap;
        }

        .project-header > .left, .project-header > .right {
            width: auto;
            max-width: 100%;
        } 

        .project-header img.header-image {
            width: auto;
            max-width: 100%;
            max-height: 50vh;
        }
    }

    .project-header a {
        color: #fff;
    }

        .project-header > a.image-link {
            padding: 0;
            line-height: 0;
        }

    .project-header p a {
        text-decoration: underline;
    }

    .project-header h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.1;
        margin: 0 0 .2em;
    }

    .project-header ul.links-list {
        margin-left: 0;
    }

        .project-header ul.links-list > li {
            margin: .6em 0 0;
        }

.project .tech {
    margin: 1rem 0;
    text-align: center;
}

    .project .tech .tag-list {
        margin-top: .6rem;
        justify-content: center;
    }

        .project .tech .tag-list > li {
            margin: .3rem;
        }

/* Projects overview */
.projects-overview section {
    margin-bottom: 1rem;
}

    @media (min-width: 700px) {
        .projects-overview section:nth-of-type(2n) .project-header > .left {
            order: 2;
        }
    }

/* Error page */
#error-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

    #error-page .status-code, #error-page .status-text {
        font-weight: 600;
    }

    #error-page .status-code {
        font-size: 8rem;
    }

    #error-page .status-text {
        font-size: 2.4rem;
    }