<article class="h-entry note">
  <header>
    <a class="contrast" href="{{ .Permalink }}" rel="bookmark">
      {{- partial "section_label.html" . }}
      <small><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | time.Format "2006-01-02 15:04" }}</time></small>
    </a>
  </header>
  <main class="e-content">
    {{ partial "notes/render-body.html" (dict "page" . "body" .RawContent) }}
    {{ with .Params.media }}
    {{ partial "media-gallery.html" (dict "media" . "page" $) }}
    {{ end }}
  </main>
</article>
