<header>
  <a class="contrast" href="{{ .Permalink }}" rel="bookmark">
    {{- partial "section_label.html" . }}
    <h1>{{ .Title }}</h1>
  </a>
  {{- with .Params.subtitle }}
  <p class="subtitle">{{ . }}</p>
  {{- end }}
  <ul class="inline inline-slash">
    <li><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | time.Format "2006-01-02" }}</time></li>
    {{- $siteAuthor := site.Params.author }}
    {{- $authors := .Params.authors | default (slice $siteAuthor) }}
    {{- if or (gt (len $authors) 1) (ne (index $authors 0) $siteAuthor) }}
    <li>{{ i18n "by" }}
      {{- range $i, $a := $authors }}
      {{- if gt $i 0 }}{{ if eq $i (sub (len $authors) 1) }} {{ i18n "and" }} {{ else }}, {{ end }}{{ end }}
      {{- with index site.Taxonomies.authors ($a | lower) }}
      <a href="{{ .Page.Permalink }}">{{ $a }}</a>
      {{- end }}
      {{- end }}
    </li>
    {{- end }}
  </ul>
</header>