.chroma {
  .x /* Other */ {  }
  .err /* Error */ {  }
  .cl /* CodeLine */ {  }
  .lnlinks /* LineLink */ { outline:none;text-decoration:none;color:inherit }
  .lntd /* LineTableTD */ { vertical-align:top;padding:0;margin:0;border:0; }
  .lntable /* LineTable */ { border-spacing:0;padding:0;margin:0;border:0; }
  .hl /* LineHighlight */ { background-color:#e5e5e5 }
  .lnt /* LineNumbersTable */ { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em; }
  .ln /* LineNumbers */ { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em; }
  .line /* Line */ { display:flex; }
  .k /* Keyword */ {  }
  .kc /* KeywordConstant */ {  }
  .kd /* KeywordDeclaration */ {  }
  .kn /* KeywordNamespace */ {  }
  .kp /* KeywordPseudo */ {  }
  .kr /* KeywordReserved */ {  }
  .kt /* KeywordType */ {  }
  .n /* Name */ {  }
  .na /* NameAttribute */ {  }
  .nb /* NameBuiltin */ {  }
  .bp /* NameBuiltinPseudo */ {  }
  .nc /* NameClass */ {  }
  .no /* NameConstant */ {  }
  .nd /* NameDecorator */ {  }
  .ni /* NameEntity */ {  }
  .ne /* NameException */ {  }
  .nf /* NameFunction */ {  }
  .fm /* NameFunctionMagic */ {  }
  .nl /* NameLabel */ {  }
  .nn /* NameNamespace */ {  }
  .nx /* NameOther */ {  }
  .py /* NameProperty */ {  }
  .nt /* NameTag */ {  }
  .nv /* NameVariable */ {  }
  .vc /* NameVariableClass */ {  }
  .vg /* NameVariableGlobal */ {  }
  .vi /* NameVariableInstance */ {  }
  .vm /* NameVariableMagic */ {  }
  .l /* Literal */ {  }
  .ld /* LiteralDate */ {  }
  .s /* LiteralString */ {  }
  .sa /* LiteralStringAffix */ {  }
  .sb /* LiteralStringBacktick */ {  }
  .sc /* LiteralStringChar */ {  }
  .dl /* LiteralStringDelimiter */ {  }
  .sd /* LiteralStringDoc */ {  }
  .s2 /* LiteralStringDouble */ {  }
  .se /* LiteralStringEscape */ {  }
  .sh /* LiteralStringHeredoc */ {  }
  .si /* LiteralStringInterpol */ {  }
  .sx /* LiteralStringOther */ {  }
  .sr /* LiteralStringRegex */ {  }
  .s1 /* LiteralStringSingle */ {  }
  .ss /* LiteralStringSymbol */ {  }
  .m /* LiteralNumber */ {  }
  .mb /* LiteralNumberBin */ {  }
  .mf /* LiteralNumberFloat */ {  }
  .mh /* LiteralNumberHex */ {  }
  .mi /* LiteralNumberInteger */ {  }
  .il /* LiteralNumberIntegerLong */ {  }
  .mo /* LiteralNumberOct */ {  }
  .o /* Operator */ {  }
  .ow /* OperatorWord */ {  }
  .p /* Punctuation */ {  }
  .c /* Comment */ {  }
  .ch /* CommentHashbang */ {  }
  .cm /* CommentMultiline */ {  }
  .c1 /* CommentSingle */ {  }
  .cs /* CommentSpecial */ {  }
  .cp /* CommentPreproc */ {  }
  .cpf /* CommentPreprocFile */ {  }
  .g /* Generic */ {  }
  .gd /* GenericDeleted */ {  }
  .ge /* GenericEmph */ {  }
  .gr /* GenericError */ {  }
  .gh /* GenericHeading */ {  }
  .gi /* GenericInserted */ {  }
  .go /* GenericOutput */ {  }
  .gp /* GenericPrompt */ {  }
  .gs /* GenericStrong */ {  }
  .gu /* GenericSubheading */ {  }
  .gt /* GenericTraceback */ {  }
  .gl /* GenericUnderline */ { text-decoration:underline }
  .w /* TextWhitespace */ {  }
}

// Pandoc's highlighting codes
pre, code, kbd {
  .kw { color: var(--code-keyword-color); }
  .dt { color: var(--code-datatype-color); }
  .dv { color: var(--code-decval-color); }
  .bn { color: var(--code-basen-color); }
  .fl { color: var(--code-float-color); }
  .ch { color: var(--code-char-color); }
  .st { color: var(--code-string-color); }
  .co { color: var(--code-comment-color); }
  .ot { color: var(--code-other-color); }
  .al { color: var(--code-alert-color); }
  .fu { color: var(--code-function-color); }
  .re { color: var(--code-regionmarker-color); }
  .er { color: var(--code-error-color); }
  .cn { color: var(--code-constant-color); }
  .sc { color: var(--code-specialchar-color); }
  .vs { color: var(--code-verbatimstring-color); }
  .ss { color: var(--code-specialstring-color); }
  .im { color: var(--code-import-color); }
  .do { color: var(--code-documentation-color); }
  .an { color: var(--code-annotation-color); }
  .cv { color: var(--code-commentvar-color); }
  .va { color: var(--code-variable-color); }
  .cf { color: var(--code-controlflow-color); }
  .op { color: var(--code-operator-color); }
  .bu { color: var(--code-builtin-color); }
  .ex { color: var(--code-extension-color); }
  .pp { color: var(--code-preprocessor-color); }
  .at { color: var(--code-attribute-color); }
  .in { color: var(--code-information-color); }
  .wa { color: var(--code-warning-color); }
}

// Line numbers
pre.numberSource code {
  counter-reset: source-line 0;
}

pre.numberSource code>span {
  counter-increment: source-line;
}

pre.numberSource code>span>a:first-child {
  --pico-text-decoration: none;
  text-align: right;
  display: inline-block;
  width: 3em;
}

pre.numberSource code>span>a:first-child::before {
  content: counter(source-line);
  vertical-align: baseline;
  padding-right: 1.5em;
  

  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
