@use "../node_modules/@picocss/pico/scss/pico" with (
    $enable-semantic-container: true,
    $theme-color: "jade",
    $modules: (
        // Theme
        "themes/default": true,
    
        // Layout
        "layout/document": true,
        "layout/landmarks": true,
        "layout/container": true,
        "layout/section": true,
        "layout/grid": true,
        "layout/overflow-auto": true,
    
        // Content
        "content/link": true,
        "content/typography": true,
        "content/embedded": true,
        "content/button": true,
        "content/table": true,
        "content/code": true,
        "content/figure": true,
        "content/miscs": true,
    
        // Forms
        "forms/basics": false,
        "forms/checkbox-radio-switch": false,
        "forms/input-color": false,
        "forms/input-date": false,
        "forms/input-file": false,
        "forms/input-range": false,
        "forms/input-search": false,
    
        // Components
        "components/accordion": false,
        "components/card": false,
        "components/dropdown": false,
        "components/group": false,
        "components/loading": false,
        "components/modal": false,
        "components/nav": false,
        "components/progress": false,
        "components/tooltip": false,
    
        // Utilities
        "utilities/accessibility": true,
        "utilities/reduce-motion": true
      )
);
