{{- /*
  Render the main <nav> with section and page links.
*/ -}}
<nav><ul>
  {{- range site.Params.menuSections }}
  {{- $slug := . }}
  {{- with site.GetPage (printf "/%s" $slug) }}
  <li><a href="{{ .Permalink }}"
    {{- if eq .RelPermalink ($.Page.RelPermalink | default "") }} aria-current="page"{{ end -}}
  >{{ .Title }}</a></li>
  {{- end }}
  {{- end }}
  {{- range site.Params.menuPages }}
  {{- $slug := . }}
  {{- with site.GetPage (printf "/%s" $slug) }}
  <li><a href="{{ .Permalink }}"
    {{- if eq .RelPermalink ($.Page.RelPermalink | default "") }} aria-current="page"{{ end -}}
  >{{ .Title }}</a></li>
  {{- end }}
  {{- end }}
</ul></nav>