{{- /* Compact note card for use in the homepage stream */ -}}
<article class="h-entry note">
  <header>
    <small class="label">Note</small>
    <ul class="inline inline-slash">
      <li><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date | time.Format "2006-01-02 15:04" }}</time></li>
    </ul>
  </header>
  <div class="e-content">
    {{ .Content }}
  </div>
  <footer>
    <ul class="inline inline-slash">
      <li><a href="{{ .Permalink }}">Permalink</a></li>
    </ul>
  </footer>
</article>
